@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
body{
 margin: 0%;
 background-color: #100f0f;
 font-family: sans-serif;
 color: gray;
}
.container{
height: 100%;
width: 85%;
background-color: #282C32;
position:fixed;
transform: translate(-150px); 
left: 270px;
}
h3{
position: relative;
left: 100px;
top: 200px;
font-size: 25px;
transform: translate(-30px);
font-family: 'Nunito',sans-serif;
color: #A16EFF;
}
h1{
  color: #A16EFF;
  font-size: 45px;
  text-align: left;
  padding: 30px;
  position: relative;
  top: 120px;
  font-family: monospace;
  overflow: hidden;
/* Keeps on a single line */
  white-space: nowrap;
  border-right: 1px solid;
/* steps number of characters */
  animation: typing 3s steps(22) forwards,
  blink 1s step-end infinite;
} 
p{
    font-family: 'Arial', sans-serif; 
    color: #d3c9c9; /* Light text color */
    padding: 80px;
    line-height: 1.6; /* Improves readability */
    top: 120px;
    position: relative;
    left: 20px;
    transform: translate(-80px);
    font-family: 'Nunito',sans-serif;
    font-size: 19px;
  }

.Finance{
    position: relative;
    bottom: 370px;
    left: 350px;
}

.art{
    position: relative;
    bottom: 370px;
    left: 350px;
}















